html, body {
    width: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(228, 225, 225, 0.205);
  }
  
  /*--------------------------Première slider------------------------------*/
  header h1 { 
      font-size: 55px;
      z-index: 1000;
      font-weight: bold;
      position: absolute;
      top: 37%;
      left: 12%;
      color: #094888;
      text-shadow: 5px 5px 5px rgba(235, 225, 225, 0.637);
  }
  
  .logo { 
      background: no-repeat center/55% url('../img/LA_MANU_CROISIERE.png');
      width: 150px;
      height: 150px;
      position: absolute;
      z-index: 1001;
    }
  
  #slide-1 {
      background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("../img/cruise-659924_1920.jpg");
      background-position: bottom center;
      background-size: cover;
      height: 75vh;
    }
    #slide-2 {
      background-image: linear-gradient(rgba(179, 175, 175, 0.068), rgba(0,0,0,.2)), url("../img/plage1.jpg");
      background-position: center;
      background-size: cover;
      height: 75vh;
    }
    #slide-3 {
      background-image: linear-gradient(rgba(161, 159, 159, 0.397), rgba(0,0,0,.2)), url("../img/cruise-ship-363804_1920.jpg");
      background-position: center;
      background-size: cover;
      height: 75vh;
    }
    #slide-4 { 
        background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("../img/boattt.jpg");
        background-position: 50% 80%;
        background-size: cover;
        height: 75vh;
    }
  
  
    /*-----------------------------Barre de recherche de date de croisière-------------------------------*/
  
  #RechercheButton, #RechercheButton i{
    font-size: 25px;
  }
    #BRV{
      position: absolute;
      bottom: 35%;
  }
  
  .BRVC{
      color: white;
      text-align: center;
      border-radius: 5px;
      background-color: #003468;
      padding-top: 1%;
      padding-bottom: 1%;
  }
  .BRVC input{
      margin-top: 4%;
      outline: none;
  }
  #RechercheButton{
      color: white;
      background-color: #003468;
      border: none;
      border-radius: 4px;
  }

/* barre de navigation */

.navbarColor{
    background-color: #003468;
    color: white; 
}

h2, h3{
    color: #095aaa;
}



  
  
    /*-----------------------------deuxième slider--------------------------------------*/
    #slided2-1{
      background-image: url(../img/maldives-1993704_1920.jpg);
      height: 40vh;
      background-size: cover;
      background-position: center 40%;
    }
    
    
    #slided2-2{
      background-image: url(../img/restaurant-358238_1920.jpg);
      height: 40vh;
      background-size: cover;
      background-position: center 30%;
    }
    
    #slided2-3{
      background-image: url(../img/gambling-602976_1920.jpg);
      height: 40vh;
      background-size: cover;
      background-position: center 40%;
    }
    
    #slided2-4{
      background-image: url(../img/sea-931164_1920.jpg);
      height: 40vh;
      background-position: cover;
      background-position: center 40%;
    }
  
    /*------------------Icon bas de page--------------------*/
    #services i { 
      font-size: 50px;
      color: #003468;
    }

    /*---------------------------Footer------------------------*/

#mainFooter{
    background-color: #003468;
    color: white;
    text-align: center;
  }
  
  #mainFooter a {
      color: white;
      text-decoration: none;
  }
  
  #mainFooter ul{
    list-style-type: none;
  }
  #mainFooter li{
    text-align: left;
    padding-left: 25%;
  }
 

  
  #reseau{
    font-size: 35px;
  }
  
  #mPay i {
    font-size: 24px;
    padding-right: 5%;
  }
  .fa-paypal{
    margin-left: 5px;
    margin-right: 5px;
  }
  
    @media screen and (max-width: 720px) {
    .logo{
        width: 100px;
        left: -3%;
        top: -3%;
        }
        header h1{
            font-size: 30px;
            top: 20%;
            left: 5%;
        }
      #slide-1, #slide-2, #slide-3, #slide-4{
          height: 40vh;
          background-size: cover;
      }
  
      #slided2-4, #slided2-3, #slided2-2, #slided2-1{
          height: 20vh;
      }
    }



/*---------Formulaire------------*/
.f {
    background-color: #095aaa;
}    

.colorb {
    background-color : #003468 !important;
}