body{
  margin: 0;
}

/*---------------------------Footer------------------------*/

#mainFooter{
  background-color: #003468;
  color: white;
  text-align: center;
  
  
}
#mainFooter a {
    color: white;
    text-decoration: none;
}

#mainFooter ul{
  list-style-type: none;
}
#mainFooter li{
  text-align: left;
  padding-left: 25%;
}
#mainFooter img {
  width: 75px;
}

#reseau{
  font-size: 35px;
}

#mainFooter img{
position: absolute;
right: 0%;
top: 0%;
}
#mPay i {
  font-size: 24px;
  padding-right: 5%;
}
.fa-paypal{
  margin-left: 5px;
  margin-right: 5px;
}